.user-container .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    flex: 100%;
}
.user-container .card {
    background-color: white;
    border-radius: 25px;
}
.user-container .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.user-container .search-bar button {
    background-color: #1677ff;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}
.user-container .search-bar button:hover {
    background-color: #3388ff;
}
.user-container .search-bar button {
    line-height: 10px;
}
.user-container input[type=text] {
    width: 200px;
    height: 32px;
    border-radius: 10px;
    padding-left: 10px; 
}
.user-container input[type=text]:hover {
    background-color: #f2f2f2;
}
.user-container input[type=radio] {
    margin-left: 20px;
}
/* 弹窗表单样式 - 与merchandise页面保持一致 */
.modal-form .ant-form-item {
    margin-bottom: 16px;
}

.modal-form .ant-form-item-label > label {
    font-weight: 500;
    color: #262626;
}

.modal-form .ant-input,
.modal-form .ant-input-number,
.modal-form .ant-select-selector {
    border-radius: 6px;
}

.user-container .required-asterisk {
    color: red;
    margin-left: 2px;
}